In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time as time

#!pip3 install scikit-learn-intelex

from sklearnex import patch_sklearn
patch_sklearn()

import warnings
warnings.filterwarnings('ignore')

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [137]:
data = pd.read_csv("adult.csv")
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [138]:
data.shape

(32561, 15)

In [139]:
if __name__=="__main__":
    for i in data.columns:
        data[i].replace('?', np.NAN, inplace=True)

In [140]:
if __name__=="__main__":
    count = 0
    for i in range(data.shape[0]):
        for j in data.iloc[i].isna():
            if j:
                count += 1
                break
    print(f'Useless row entries are:{round(count/data.shape[0] * 100, 3)}%')

Useless row entries are:7.368%

In [141]:
data.dropna(axis=0, inplace=True)

In [142]:
data.shape

(30162, 15)

In [124]:
data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 15 entries, age to income
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
columns = data.columns
columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [ ]:
# creating a data columns with fake names
#!pip install Faker

In [125]:

from faker import Faker
import pandas as pd

fake = Faker()

# create a list of 30162 random English people names
names = [fake.name() for i in range(30162)]

# create a pandas dataframe with the names column
data_names = pd.DataFrame({'Names': names})

print(data_names)

                    Names
0            Joshua David
1      Mrs. Gina Brown MD
2         Alice Fernandez
3         Hannah Anderson
4          William Walker
...                   ...
30157  Jonathan Fernandez
30158        Shawn Dillon
30159       Teresa Rogers
30160    Julian Fernandez
30161       Jimmy Daniels

[30162 rows x 1 columns]

In [127]:
data["fake_names"] = data_names

In [128]:
data = data[['fake_names','age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income']]

In [132]:
data.shape

(32561, 16)

In [129]:
quasi_identifiers = ['age', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex']

In [130]:
data_quasi = data[['age', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex']]

In [131]:
data_quasi.head()

,age,education,marital.status,occupation,relationship,race,sex
0,90,HS-grad,Widowed,NaN,Not-in-family,White,Female
1,82,HS-grad,Widowed,Exec-managerial,Not-in-family,White,Female
2,66,Some-college,Widowed,NaN,Unmarried,Black,Female
3,54,7th-8th,Divorced,Machine-op-inspct,Unmarried,White,Female
4,41,Some-college,Separated,Prof-specialty,Own-child,White,Female

In [14]:
# Describe the columns and their respective anonymization type
supression_level_columns = [
    {"label": "education", "type": "semi-suppressed"},
    {"label": "marital.status",  "type": "semi-suppressed"},
    {"label": 'occupation',  "type": "semi-suppressed"},
    {"label": 'relationship', "type": "semi-suppressed"},
    {"label": "sex", "type": "suppressed"},
    {"label": "age", "type": "generalized"}
]

In [15]:
data_quasi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 1 to 32560
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   education       30162 non-null  object
 2   marital.status  30162 non-null  object
 3   occupation      30162 non-null  object
 4   relationship    30162 non-null  object
 5   race            30162 non-null  object
 6   sex             30162 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.8+ MB

In [16]:
data_quasi['age'] = data_quasi['age'].fillna(data_quasi['age'].mean())
data_quasi['age'] = data_quasi['age'].astype(object)
data_quasi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 1 to 32560
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  object
 1   education       30162 non-null  object
 2   marital.status  30162 non-null  object
 3   occupation      30162 non-null  object
 4   relationship    30162 non-null  object
 5   race            30162 non-null  object
 6   sex             30162 non-null  object
dtypes: object(7)
memory usage: 1.8+ MB

In [17]:
data_quasi['age'] = data_quasi['age'].fillna(data_quasi['age'].mean())

In [18]:
data_quasi.fillna(value="Empty", inplace=True)

In [ ]:
def supress_gereralize(dataset, columns):

    #Anonymize certain columns of the database
    #using suppression and generalization
    
    #:param dataset: The set of columns and rows composing the dataset
    #:param columns: Specific columns which entries are considered sensitive
    

    
    anon_dataset = dataset
    #print("anon_dataset info")
    #anon_dataset.info()
    # Target all sensitive columns
    for column in columns:
        column_label = column['label']
        #print("column_label for", column_label)
        if column['type'] == 'semi-suppressed':
            # Replace 70% of the characters with asterix
            #print("column_label semi-suppressed", column_label)
            anon_dataset[column_label] = [('*'*(round(len(x)*.7)) + x[(round(len(x)*.7)):]) for x in anon_dataset[column_label]]
    
        if column['type'] == 'suppressed':
            # Replace all characters with asterix
            #print("column_label suppressed", column_label)
            anon_dataset[column_label] = ['*' for x in anon_dataset[column_label]]
        
        if column['type'] == 'generalized':
            # Summarize the data using ranges
            for i in range(len(anon_dataset[column_label])):
                # convert column type from int to string
                #print("column_label generalized", column_label)
                anon_dataset[column_label] = anon_dataset[column_label].astype(str)
                #print("Before age i",anon_dataset[column_label][i])
                x = int(anon_dataset[column_label][i])
                #print("After age i",anon_dataset[column_label][i])
                if x <= 40: anon_dataset[column_label][i] =  "0-40"
                if x > 40 and x <= 60: anon_dataset[column_label][i] =  "40-60"
                if x > 60 and x <= 100: anon_dataset[column_label][i] =  "> 60"
    
    return anon_dataset

In [ ]:
anon_dataset = data_quasi.copy()

In [ ]:
anon_dataset = anon_dataset.reset_index(drop=True)

In [ ]:
anon_dataset.head()

In [ ]:
#apply the anonymization
anonymized_dataset = supress_gereralize(anon_dataset, supression_level_columns)

In [ ]:
anonymized_dataset.shape

In [ ]:
anonymized_dataset.head(10)

In [ ]:
#install diffprivlib to implement differential privacy
!pip install --user diffprivlib

In [ ]:
# downgrade scikit-learn to scikit-learn==0.24.1 in jupter notebook. as pysar needs it
#do it on console only
!pip install --user scikit-learn==0.24.1

In [ ]:
!pip install --user diffprivlib

In [ ]:
from diffprivlib.mechanisms import LaplaceTruncated

sensitivity=3
epsilon=0.3
mechanism = LaplaceTruncated(sensitivity=sensitivity, epsilon=epsilon, lower=5, upper=100)

In [ ]:
laplace_dataset = data_quasi.copy()
laplace_dataset['age'] = laplace_dataset['age'].astype(float)

In [ ]:
laplace_dataset.head()

In [ ]:
laplace_dataset = laplace_dataset.reset_index(drop=True)
laplace_dataset['age'] = [mechanism.randomise(laplace_dataset['age'][x]) for x in laplace_dataset['age']]

In [ ]:
from diffprivlib.mechanisms import Exponential
import random

exp_dataset = data_quasi.copy()
exp_dataset = exp_dataset.reset_index(drop=True)
sensitivity = 3
epsilon = 0.3
utility = [random.randint(0,1) for x in range(len(exp_dataset['education']))]
candidates = exp_dataset['education'].values.tolist()

mechanism = Exponential(
    sensitivity=sensitivity,
    epsilon=epsilon,
    utility=utility,
    candidates=candidates
)

In [ ]:
exp_dataset.head(10)

In [ ]:
exp_dataset['education'] = [mechanism.randomise() for _ in range(len(exp_dataset['education']))]

In [ ]:
exp_dataset.head(10)

In [ ]:
!pip install --user anonypy

In [ ]:
import anonypy

In [20]:
k_anonimity_dataset = data_quasi.copy()

In [21]:
k_anonimity_dataset = k_anonimity_dataset.reset_index(drop=True)

In [22]:
columns = ['age', 'race', 'sex']

In [63]:
k_anonimity_dataset.shape

(30162, 7)

In [23]:
df_total_groups = k_anonimity_dataset.groupby(columns).size().reset_index(name="count")

In [64]:
df_total_groups.shape

(528, 4)

In [24]:
k =3
df_less_than_k = df_total_groups[df_total_groups["count"] < k]

In [65]:
df_less_than_k.shape

(121, 4)

In [68]:
df_less_than_k

     age                race     sex  count
0     17  Amer-Indian-Eskimo  Female      2
1     17  Amer-Indian-Eskimo    Male      1
2     17  Asian-Pac-Islander  Female      1
5     17               Other  Female      2
6     17               Other    Male      2
..   ...                 ...     ...    ...
520   86               White  Female      1
521   88               White  Female      1
522   88               White    Male      2
524   90               Black  Female      1
525   90               Black    Male      2

[121 rows x 4 columns]

In [71]:
df_test_data = pd.DataFrame(columns=data.columns)

In [72]:
df_test_data.shape

(0, 16)

In [31]:
data.shape

(30162, 16)

In [32]:
df_less_than_k.shape

(121, 4)

In [74]:
for i in range(0, 30162):

    #print("i=", i)
    age = data['age'].iloc[i]
    #print("age", age)
    race = data['race'].iloc[i]
    sex = data['sex'].iloc[i]
    for j in range(0,121):
        #print("i is", i)
        #print("j is", j)
        age1 = df_less_than_k['age'].iloc[j]
        #print("age", age)
        race1 = df_less_than_k['race'].iloc[j]
        sex1 = df_less_than_k['sex'].iloc[j]
        #print("age, race, sex",age, race, sex)
        if age == age1 and race == race1 and sex == sex1:
            #print("i am in last", i, j)
            row = data.iloc[i]
            df_test_data = df_test_data.append(row, ignore_index=True)
            #print("Done...")

In [75]:
df_test_data.shape

(180, 16)

In [35]:
df_less_than_k.shape

(121, 4)

In [36]:
columns

['age', 'race', 'sex']

In [76]:
#df_total_groups = k_anonimity_dataset.groupby(columns).size().reset_index(name="count")

df_test_data_groups = df_test_data.groupby(columns).size().reset_index(name="count")

In [77]:
df_test_data_groups.shape

(121, 4)

In [78]:
df_test_data_groups.head(10)

   age                race     sex  count
0   17  Amer-Indian-Eskimo  Female      2
1   17  Amer-Indian-Eskimo    Male      1
2   17  Asian-Pac-Islander  Female      1
3   17               Other  Female      2
4   17               Other    Male      2
5   18  Amer-Indian-Eskimo  Female      2
6   18  Amer-Indian-Eskimo    Male      2
7   18               Other  Female      1
8   18               Other    Male      1
9   19  Amer-Indian-Eskimo    Male      1

In [79]:
df_test_data_groups.tail(10)

     age   race     sex  count
111   81  Black  Female      1
112   82  White  Female      1
113   84  Black    Male      1
114   85  White  Female      1
115   85  White    Male      2
116   86  White  Female      1
117   88  White  Female      1
118   88  White    Male      2
119   90  Black  Female      1
120   90  Black    Male      2

In [80]:
k =3
df_test_data_groups_less_than_k = df_test_data_groups[df_test_data_groups["count"] < k]

In [81]:
df_test_data_groups_less_than_k.shape

(121, 4)

In [83]:
#df1 = df1.append(df2, ignore_index=True)
#df_test_data

df_test_data_k_minus_1 = df_test_data.append(df_test_data, ignore_index=True)

In [84]:
df_test_data.shape

(180, 16)

In [85]:
df_test_data_k_minus_1.shape

(360, 16)

In [87]:
df_test_data_k_minus_1_groups = df_test_data_k_minus_1.groupby(columns).size().reset_index(name="count")

In [90]:
k =3
df_test_data_k_minus_1_groups_less_than_k = df_test_data_k_minus_1_groups[df_test_data_k_minus_1_groups["count"] < k-1]

In [91]:
df_test_data_k_minus_1_groups_less_than_k.shape

(0, 4)

In [92]:
columns

['age', 'race', 'sex']

In [93]:
#it means df_test_data_k_minus_1_groups_less_than_k has at least k-1 records of ['age', 'race', 'sex'] combination
#now shuffle income column randonely and append it top the main dataset "data"
#"data" already has at leastone record of what df_test_data, so this way "data" will have at least k record or every unique combination of ['age', 'race', 'sex']

In [94]:
df_test_data_k_minus_1.columns

Index(['fake_names', 'age', 'workclass', 'fnlwgt', 'education',
       'education.num', 'marital.status', 'occupation', 'relationship', 'race',
       'sex', 'capital.gain', 'capital.loss', 'hours.per.week',
       'native.country', 'income'],
      dtype='object')

In [99]:
#  randomly shuffle income in df_test_data_k_minus_1
from diffprivlib.mechanisms import Exponential
import random

sensitivity = 3
epsilon = 0.3
utility = [random.randint(0,1) for x in range(len(df_test_data_k_minus_1['income']))]
candidates = df_test_data_k_minus_1['income'].values.tolist()

mechanism = Exponential(
    sensitivity=sensitivity,
    epsilon=epsilon,
    utility=utility,
    candidates=candidates
)

In [100]:
#modify and debug this code

#exp_dataset['education'] = [mechanism.randomise() for _ in range(len(exp_dataset['education']))]
df_test_data_k_minus_1['income'] = [mechanism.randomise() for _ in range(len(df_test_data_k_minus_1['income']))]

In [101]:
df_test_data_k_minus_1.shape

(360, 16)

In [102]:
df_test_data.shape

(180, 16)

In [103]:
df_test_data.columns

Index(['fake_names', 'age', 'workclass', 'fnlwgt', 'education',
       'education.num', 'marital.status', 'occupation', 'relationship', 'race',
       'sex', 'capital.gain', 'capital.loss', 'hours.per.week',
       'native.country', 'income'],
      dtype='object')

In [105]:
df_test_data_k_minus_1[['fake_names', 'income']].head(10)

           fake_names income
0     Albert Campbell  <=50K
1       Calvin Taylor  <=50K
2     Jessica Merritt  <=50K
3      David Anderson  <=50K
4       William Perez  <=50K
5            Greg Fox  <=50K
6  Margaret Mcfarland  <=50K
7        Adam Oconnor  <=50K
8     Andrea Williams  <=50K
9        Craig Flores  <=50K

In [106]:
df_test_data[['fake_names', 'income']].head(10)

           fake_names income
0     Albert Campbell  <=50K
1       Calvin Taylor  <=50K
2     Jessica Merritt  <=50K
3      David Anderson   >50K
4       William Perez  <=50K
5            Greg Fox   >50K
6  Margaret Mcfarland   >50K
7        Adam Oconnor   >50K
8     Andrea Williams   >50K
9        Craig Flores  <=50K

In [107]:
df_test_data.shape

(180, 16)

In [118]:
data.shape

(32561, 15)

In [143]:
df_test_data_k_minus_1.shape

(360, 16)

In [144]:
#df_test_data_k_minus_1 = df_test_data.append(df_test_data, ignore_index=True)

data = data.append(df_test_data_k_minus_1, ignore_index=True)

In [145]:
data.shape

(30522, 16)

In [146]:
columns

['age', 'race', 'sex']

In [147]:
data_groups = data.groupby(columns).size().reset_index(name="count")

In [148]:
data_groups.shape

(528, 4)

In [149]:
data_groups_less_than_k = data_groups[data_groups["count"] < k]

In [150]:
data_groups_less_than_k.shape

(0, 4)

In [152]:
data_groups.head(10)

   age                race     sex  count
0   17  Amer-Indian-Eskimo  Female      6
1   17  Amer-Indian-Eskimo    Male      3
2   17  Asian-Pac-Islander  Female      3
3   17               Black  Female     11
4   17               Black    Male     15
5   17               Other  Female      6
6   17               Other    Male      6
7   17               White  Female    134
8   17               White    Male    160
9   18  Amer-Indian-Eskimo  Female      6

In [153]:
data_groups.tail(10)

     age                race     sex  count
518   85               White  Female      3
519   85               White    Male      6
520   86               White  Female      3
521   88               White  Female      3
522   88               White    Male      6
523   90  Asian-Pac-Islander    Male      4
524   90               Black  Female      3
525   90               Black    Male      6
526   90               White  Female      9
527   90               White    Male     19

- Above achieved k = 3 anonmity

In [154]:
data.shape

(30522, 16)

#### Implement l-diversity

In [ ]:
def diversity(df, partition, column):
    return len(df[column][partition].unique())

In [ ]:
"""
#sample code below

import pandas as pd
from pycanon import anonymity
FILE_NAME = "adult.csv"
DATA = pd.read_csv(FILE_NAME)
QI = ["age", "education", "occupation", "relationship", "sex", "native-country"]
SA = ["salary-class"]
# Calculate k for k-anonymity:
k = anonymity.k_anonymity(DATA, QI)
# Calculate alpha for (alpha,k)-anonymity:
alpha, _ = anonymity.alpha_k_anonymity(DATA, QI, SA)
# Calculate l for l-diversity:
l_div = anonymity.l_diversity(DATA, QI, SA)
# Calculate l for entropy l-diversity:
entropy_l = anonymity.entropy_l_diversity(DATA, QI, SA)
# Calculate c for recursive (c,l)-diversity:
c, _ = anonymity.recursive_c_l_diversity(DATA, QI, SA)
# Calculate beta for basic beta-likeness:
basic_beta = anonymity.basic_beta_likeness(DATA, QI, SA)
# Calculate beta for enhanced beta-likeness:
enhanced_beta = anonymity.enhanced_beta_likeness(DATA, QI, SA)
# Calculate t for t-closeness:
t = anonymity.t_closeness(DATA, QI, SA)
# Calculate delta for delta-disclosure privacy:
delta = anonymity.delta_disclosure(DATA, QI, SA)

"""

In [156]:
!pip install --user pyCANON

Collecting pyCANON
  Downloading pycanon-1.0.0.post5.tar.gz (16 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.21.6 in c:\programdata\anaconda3\lib\site-packages (from pyCANON) (1.24.2)
Requirement already satisfied: pandas>=1.3.5 in c:\programdata\anaconda3\lib\site-packages (from pyCANON) (1.4.4)
Collecting reportlab>=3.6.9
  Downloading reportlab-3.6.12-cp39-cp39-win_amd64.whl (2.3 MB)
     ---------------------------------------- 2.3/2.3 MB 9.9 MB/s eta 0:00:00
Collecting typer>=0.4.1
  Downloading typer-0.7.0-py3-none-any.whl (38 kB)
Requirement already satisfied: tabulate>=0.8.10 in c:\programdata\anaconda3\lib\site-packages (from pyCANON) (0.8.10)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.5->pyCANON) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.5->pyCANON) (2.8.2)
Requirement already satisfied: pillow>=9.0.0 in c:\programdata\anaconda3\lib\site-packages (from reportlab>=3.6.9->pyCANON) (9.2.0)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\programdata\anaconda3\lib\site-packages (from typer>=0.4.1->pyCANON) (8.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click<9.0.0,>=7.1.1->typer>=0.4.1->pyCANON) (0.4.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.3.5->pyCANON) (1.16.0)
Building wheels for collected packages: pyCANON
  Building wheel for pyCANON (setup.py): started
  Building wheel for pyCANON (setup.py): finished with status 'done'
  Created wheel for pyCANON: filename=pycanon-1.0.0.post5-py3-none-any.whl size=27298 sha256=f1f5875ebab833ffdd72719e7363d07139afa86162fab432cdc61ed04764c88d
  Stored in directory: c:\users\kadres\appdata\local\pip\cache\wheels\d0\bc\17\3cf30cf1e43aa59354a6e00b3dbe7e714d60626bd6d425400d
Successfully built pyCANON
Installing collected packages: reportlab, typer, pyCANON
Successfully installed pyCANON-1.0.0.post5 reportlab-3.6.12 typer-0.7.0

  WARNING: The script pycanon.exe is installed in 'C:\Users\kadres\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Requirement already satisfied: pyCANON in c:\users\kadres\appdata\roaming\python\python39\site-packages (1.0.0.post5)
Requirement already satisfied: reportlab>=3.6.9 in c:\users\kadres\appdata\roaming\python\python39\site-packages (from pyCANON) (3.6.12)
Requirement already satisfied: numpy>=1.21.6 in c:\programdata\anaconda3\lib\site-packages (from pyCANON) (1.24.2)
Requirement already satisfied: pandas>=1.3.5 in c:\programdata\anaconda3\lib\site-packages (from pyCANON) (1.4.4)
Requirement already satisfied: typer>=0.4.1 in c:\users\kadres\appdata\roaming\python\python39\site-packages (from pyCANON) (0.7.0)
Requirement already satisfied: tabulate>=0.8.10 in c:\programdata\anaconda3\lib\site-packages (from pyCANON) (0.8.10)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.5->pyCANON) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.5->pyCANON) (2.8.2)
Requirement already satisfied: pillow>=9.0.0 in c:\programdata\anaconda3\lib\site-packages (from reportlab>=3.6.9->pyCANON) (9.2.0)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\programdata\anaconda3\lib\site-packages (from typer>=0.4.1->pyCANON) (8.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click<9.0.0,>=7.1.1->typer>=0.4.1->pyCANON) (0.4.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.3.5->pyCANON) (1.16.0)

In [159]:
from pycanon import anonymity

In [ ]:
""" 
sample code

QI = ["age", "education", "occupation", "relationship", "sex", "native-country"]
SA = ["salary-class"]
# Calculate k for k-anonymity:
k = anonymity.k_anonymity(DATA, QI)

"""

In [160]:
columns

['age', 'race', 'sex']

In [164]:
data.shape

(30522, 16)

In [166]:
QI = columns # quasi identifiers
SA = ["income"] #sensitive attribute
# Calculate k for k-anonymity on the updatated dataset "data"
k = anonymity.k_anonymity(data, QI)
print("the k-anonimity factor k is ", k)

the k-anonimity factor k is  3

In [167]:
# Calculate alpha for (alpha,k)-anonymity:
alpha, _ = anonymity.alpha_k_anonymity(data, QI, SA)
print("alpha for (alpha,k)-anonymity is ",alpha )

alpha for (alpha,k)-anonymity is  1.0

In [ ]:
"""
sample code

# Calculate l for l-diversity:
l_div = anonymity.l_diversity(DATA, QI, SA)
# Calculate l for entropy l-diversity:
entropy_l = anonymity.entropy_l_diversity(DATA, QI, SA)
# Calculate c for recursive (c,l)-diversity:

"""

In [170]:
# Calculate l for l-diversity:
l_div = anonymity.l_diversity(data, QI, SA)
print(" l for l-diversity",l_div )

 l for l-diversity 1

In [ ]:
"""
sample code

# Calculate t for t-closeness:
t = anonymity.t_closeness(DATA, QI, SA)

"""

In [172]:
# Calculate t for t-closeness:
t = anonymity.t_closeness(data, QI, SA)
print("t for t-closeness",t )

t for t-closeness 0.5524080990760762

In [ ]:
"""
sample code to make a data frame l-dverse

This code does not work. 

import pandas as pd
from diffprivlib.tools import privacy_dataframe

# Load your dataset as a pandas DataFrame
df = ...

# Make the DataFrame 2-diverse
diverse_df = privacy_dataframe(df, 'column_containing_sensitive_data', 2)

# Check the l-diversity of the DataFrame
diversity = len(set(diverse_df['column_containing_sensitive_data'])) / len(diverse_df)
if diversity < 0.5:
    print("DataFrame does not satisfy 2-diversity")


"""

In [184]:
#!pip install --user diffprivlib

In [185]:
#!pip install --upgrade diffprivlib